<% @posts.each do |post| %>
    <div class="post">
        <h2 class="title"><%= link_to post.title,post %></h2>
        <div class="entry">
            <p><%= post.body %></p>
        </div>
        <div class="byline">
            <p class="meta">May 07, 2012 Posted by <a href="#">Someone</a></p>
            <p class="links"><a href="post.html">Read More</a> BLAH BLAH BLAH</p>
        </div>
    </div>
<% end %>